body{
	width: 960px;
	font-family: Arial, sans-serif;
}

#finalForm{
	float: left;
	width: 860px;
}

#sidebar{
	float: right;
	width: 100px;
}

th{
	background-color: #F58400;
}

td{
	background-color: #000000;
}

th, td{
	color: #FFFFFF;
	width: 60px;
	height: 20px;
}